# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
coverage.json
.coverage_artifacts
.coverage_cache
.coverage_contracts

# Production
build/
dist/
.next/
out/

# FHEVM
fhevmTemp/
artifacts/
cache/
types/
deployments/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Misc
.DS_Store
*.pem
tmp/
.pnp.*
package-lock.json
pnpm-lock.yaml
yarn.lock
